[Unit]
Description=IPFS daemon
After=network.target

[Service]
User=ipfs
Group=ipfs
StateDirectory=ipfs
TimeoutStartSec=10800
LimitNOFILE={{ ipfs_fd_max }}
MemorySwapMax=0
Environment="IPFS_FD_MAX={{ ipfs_fd_max}}"
ExecStart=/usr/local/bin/ipfs daemon --migrate {%- if ipfs_enable_gc | default(False) %} --enable-gc{% endif %}

Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
