[Unit]
Description=IPFS Cluster Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs-cluster-service
Restart=on-failure
User=ipfs

[Install]
WantedBy=multi-user.target
