[Unit]
Description=IPFS daemon
After=network.target

[Service]
Environment="IPFS_FD_MAX=4096"
ExecStart=/usr/local/bin/ipfs daemon --migrate
Restart=on-failure
User=ipfs

[Install]
WantedBy=multi-user.target
