[Unit]
Description=IPFS daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs daemon --migrate
User=ipfs

[Install]
WantedBy=multiuser.target
