[Unit]
Description=IPFS daemon
After=network.target

[Service]
LimitNOFILE={{ ipfs_fd_max }}
Environment="IPFS_FD_MAX={{ ipfs_fd_max}}"
ExecStart=/usr/local/bin/ipfs daemon --migrate
Restart=on-failure
User=ipfs

[Install]
WantedBy=multi-user.target
